@charset "utf-8";

body{
    background-color: white;
}

header {
    background-image: url(mainn.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}




header nav {
    background: rgba(255,255,255,0.85);
    position: relative;
    z-index: 1;
    display: none;
}

header nav ul{
    display: block;
    padding: 20px 0 12rem 0;

}
header nav li {
    font-size:0.85rem;
    padding: 20px;
    color: #606060;
    border-bottom:1px solid rgba(118,123,133,0.3);
    text-align:center;


}
header nav a {
    color: #333;
    font-weight: normal;
    text-shadow: none;    
}
header nav a:hover{
    color: #1861ae!important;
}

#menuWrapper{
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding:15px 15px 10px 15px;
    box-sizing: border-box;
}

.trigger,.trigger span {
    display: inline-block;
    transition: all　.4s;
    box-sizing: border-box;

}
.trigger {
    position: absolute;
    width: 35px;
    height: 30px;
}
.trigger span {
    position: absolute;
    left:0;
    width: 100%;
    height: 5px;
    background-color: #718015;
    border-radius: 4px;
    opacity: 1;
}
.trigger a:hover{
    opacity: 1;
}
.trigger span:nth-of-type(1){
    top: 0;
}
.trigger span:nth-of-type(2){
    top: 12px;
}
.trigger span:nth-of-type(3){
    bottom: 0;
}
.trigger .active span:nth-of-type(1){
  -webkit-transform: translateY(10px) rotate(-45deg) ;
  transform: translateY(10px) rotate(-45deg) ;
}
.trigger.active span:nth-of-type(2) {
  left: 504;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 { 100% { height: 0; }}
@keyframes active-menu-bar02 { 100% { height: 0; }}
.trigger.active span:nth-of-type(3){
  -webkit-transform: translateY(-15px) rotate (45deg) ;
  transform: translateY(-15px) rotate(45deg) ;}
.onanimation{
  display: block;}
